.container {
  text-align: center;
  margin-top: 250px;
}

.search {
  width: 640px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 25px;
}
.search-bar {
  margin: 0 auto;
  width: 550px;
  padding-top: 20px;
  font-size: 18px;
  border: none;
  outline: none;
  padding-top: 15px;
  margin-bottom: 10px;
}
.btn-container {
  margin-top: 1%;
}

.search-btn {
  height: 40px;
  border: none;
  color: #646464;
  background: #f2f2f2;
}

.search-btn:hover {
  color: rgb(37, 37, 37);
  border: 1px solid lightgray;
}
